body{
  margin-top:8%;
  /* overflow: hidden; */
}
.inner{
  overflow: hidden;
} 
.inner img{
  transition: all 1.5s ease;
}
.inner:hover img{
  transform: scale(1.5);
}
.space{
  margin-bottom: 50px;
}
footer {
  display: flex;
}

.footer div {
  flex: 1;
  border: 1px solid;
  margin-top: 1em;
  padding: 1em;
  background-color: #f4c95d;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* added styles for messages */
.feedback_message{
  color:green;
  font-size: 25px;
  font-style: italic;
}

.error_message{
  color: red;
  font-size: 25px;
  font-style: italic;
}

/* TABLE STYLE ADDED BELOW */
#taxis {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#taxis td, #taxis th {
  border: 1px solid #ddd;
  padding: 8px;
}

#taxis tr:nth-child(even){background-color: #023047; color: white;}

/* #taxis tr:hover {background-color: #ddd;} */

#taxis th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2e1f27;
  color: white;
}
/* Styling for Table Increments and Decrements */
.button {
  background-color: #03071e; 
  border: none;
  color: white;
  padding: 5px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12em;
  cursor: pointer;
}
.displaytaxis {
	display: flex;
	flex-wrap: wrap;
}
.owners_taxi {
	flex: 1;
	padding: 1em;
	margin: 0.25em;
	border-radius: 0.5em;
}
/* STYLE FOR STATUS ON TABLE FOR PASSENGER ON ROUTE */
div[data-length] {
  margin-left: 25%;
}

/*The spanning bar.*/
div[data-length]:before {
  content: " ";
  z-index: -1;
  display: block;
  position: absolute;
  height: 8px;
  top: 50%;
  transform: translate(0,-50%);
}

/*The circle at the end of the spanning bar.*/
div[data-length]:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
  width: 2em;
  height: 2em;
  border: .4em solid #E4E4E7;
  background: #E4E4E7;
  border-radius: 100%;
}
/* STYLE FOR REWARDS CASH BACK COUPON */

.coupon {
  border: 5px dotted #bbb;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}

.cashback {
  padding: 2px 16px;
  background-color: #f1f1f1;
  text-decoration: #03071e;
}

.promo {
  background: #ccc;
  padding: 3px;
  text-decoration: #03071e
}
h4{
  color: green;
}
.expire {
  color: red;
}

/*Passed colour styles for the spanning bar.*/
div.passed[data-length]:before {
  background: #1AB394;
  border-top: 2px solid #E4E4E7;
  border-bottom: 2px solid #E4E4E7;
}

/*Passed colour styles for the circle at the end of the spanning bar.*/
div.passed[data-length]:after {
  background: #1AB394;
}

/*The bar that will span 10 table columns.*/
div[data-length='10']:before {
  width: calc(900% + 1em);
}

/*The circle at the end of the 10 spanning bar.*/
div[data-length='10']:after {
  left: calc(900% + 2em);
}

/*The bar that will span 3 table columns.*/
div[data-length='3']:before {
  width: calc(200% + 1em);
}

/*The circle at the end of the 3 spanning bar.*/
div[data-length='3']:after {
  left: calc(200% + 2em);
}
/* MAP STYLES ADDED BELOW */
#map{
  width: 90%;
  margin: 75px auto;
  height: 400px;
  position: absolute;
  background-repeat: no-repeat;
}

.passenger, .driver{
  border: 3px solid;
  padding: 25px;
  /* width: 70%; */
  margin: auto;
  text-align: center;
}

/* payment styles */
* {
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}
.container {
  background-color: #F2F2F2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  display: block;
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.btn {
  background-color: black;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn:hover {
  background-color: #45A049;
}
a {
  color: #2196F3;
}
hr {
  border: 1px solid lightgrey;
}
span.price {
  float: right;
  color: grey;
}
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

p{
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: darksalmon;
}

.display_amount{
  margin-top: 50px;
}


ul{
  background-color: snow;
}

li{
  flex: 1;
}

.inline{
  display: inline-block;
}




