body{
  margin-top:8%;
  /* background-color: #fff; */
  /* overflow: hidden; */
}
.inner{
  overflow: hidden;
} 
.inner img{
  transition: all 1.5s ease;
}
.inner:hover img{
  transform: scale(1.5);
}
.space{
  margin-bottom: 50px;
}
footer {
  display: flex;
}

.footer div {
  flex: 1;
  border: 1px solid;
  margin-top: 1em;
  padding: 1em;
  background-color: #f4c95d;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* added styles for messages */
.feedback_message{
  color:green;
  font-size: 25px;
  font-style: italic;
}

.error_message{
  color: red;
  font-size: 25px;
  font-style: italic;
}

/* TABLE STYLE ADDED BELOW */
#taxis {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#taxis td, #taxis th {
  border: 1px solid #ddd;
  padding: 8px;
}

#taxis tr:nth-child(even){background-color: #023047; color: white;}

/* #taxis tr:hover {background-color: #ddd;} */

#taxis th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2e1f27;
  color: white;
}
/* Styling for Table Increments and Decrements */
.button {
  background-color: #03071e; 
  border: none;
  color: white;
  padding: 5px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12em;
  cursor: pointer;
}
.displaytaxis {
	display: flex;
	flex-wrap: wrap;
}
.owners_taxi {
	flex: 1;
	padding: 1em;
	margin: 0.25em;
	border-radius: 0.5em;
}
/* STYLE FOR STATUS ON TABLE FOR PASSENGER ON ROUTE */
div[data-length] {
  margin-left: 25%;
}

/*The spanning bar.*/
div[data-length]:before {
  content: " ";
  z-index: -1;
  display: block;
  position: absolute;
  height: 8px;
  top: 50%;
  transform: translate(0,-50%);
}

/*The circle at the end of the spanning bar.*/
div[data-length]:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
  width: 2em;
  height: 2em;
  border: .4em solid #E4E4E7;
  background: #E4E4E7;
  border-radius: 100%;
}
/* STYLE FOR REWARDS CASH BACK COUPON */

.coupon {
  border: 5px dotted #bbb;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}

.cashback {
  padding: 2px 16px;
  background-color: #f1f1f1;
  text-decoration: #03071e;
}

.promo {
  background: #ccc;
  padding: 3px;
  text-decoration: #03071e
}
h4{
  color: green;
}
.expire {
  color: red;
}

/*Passed colour styles for the spanning bar.*/
div.passed[data-length]:before {
  background: #1AB394;
  border-top: 2px solid #E4E4E7;
  border-bottom: 2px solid #E4E4E7;
}

/*Passed colour styles for the circle at the end of the spanning bar.*/
div.passed[data-length]:after {
  background: #1AB394;
}

/*The bar that will span 10 table columns.*/
div[data-length='10']:before {
  width: calc(900% + 1em);
}

/*The circle at the end of the 10 spanning bar.*/
div[data-length='10']:after {
  left: calc(900% + 2em);
}

/*The bar that will span 3 table columns.*/
div[data-length='3']:before {
  width: calc(200% + 1em);
}

/*The circle at the end of the 3 spanning bar.*/
div[data-length='3']:after {
  left: calc(200% + 2em);
}
/* MAP STYLES ADDED BELOW */
#map{
  width: 90%;
  margin: 20px auto;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
}
/* STYLING FOR SEARCH FORM ON MAP */
.formBlock{
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  width: 100%;
}

.input{
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
  border-radius: 3px;
}
#form{
  padding: 0;
  margin: 0;
}
input:nth-child(1){
  margin-bottom: 10px;
}

.passenger, .driver{
  border: 3px solid;
  padding: 25px;
  /* width: 70%; */
  margin: auto;
  text-align: center;
}

/* payment styles */
* {
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}
.container {
  background-color: #F2F2F2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  display: block;
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.btn {
  background-color: black;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn:hover {
  background-color: #45A049;
}
a {
  color: #2196F3;
}
hr {
  border: 1px solid lightgrey;
}
span.price {
  float: right;
  color: grey;
}
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

p{
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: darksalmon;
}

.display_amount{
  margin-top: 50px;
}


ul{
  background-color: snow;
}

li{
  flex: 1;
}

.inline{
  display: inline-block;
}

.inline img{
  width:30%;
}

/* drivers profile */
.showdriver{
  border: 2px solid;
  width: 50%;
  background-color: darkgray;
  margin: auto;
}

li{
  list-style-type: none;
}


/* driver profile card */
.our-team {
  color:#fff;
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: rgb(82, 73, 73);
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

.btn_resize{
  width:139px;
}

.no-of-pass{
  height: 5px;
}

.row_spaces{
  margin-top: 25px !important;
}


/* RECENTLY ADDED */


body {
  height: 100vh;
  background-color: #D3E1E1
}

/* The Receipt */
.receipt {
  width: 360px;
    margin: auto;
    height: 366px;
    background-color: white;
    position: relative;
    box-shadow: 14px 14px 22px -18px;
    padding: 20px;
}

/* Heading */
.name {
  text-transform: uppercase;
  text-align: center;
  color: #6c8b8e;
  letter-spacing: 10px;
  font-size: 1.8em;
  margin-top: 10px
}

/* Big thank */
.greeting {
  font-size: 21px;
  text-transform: capitalize;
  text-align: center;
  color: #6f8d90;
  margin: 35px 0;
  letter-spacing: 1.2px
}

/* Order info */
.order p {
  font-size: 13px;
  color: #aaa;
  padding-left: 10px;
  letter-spacing: .7px
}

/* Our line */
hr {
  border: .7px solid #ddd;
  margin: 15px 0;
}

/* Order details */
.details {
  padding-left: 10px;
  margin-bottom: 35px;
  overflow: hidden
}

.details h3 {
  font-weight: 400;
  color: #6c8b8e;
  font-size: 1.2em;
  margin-bottom: 15px
}

/* Image and the info of the order */
.product {
  float: left;
  width: 83%
}

.product img {
  width: 65px;
  float: left
}

.product .info {
  float: left;
  margin-left: 15px
}

.product .info h4 {
  color: #6f8d90;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 20px;
}

.product .info p, .amount p {
/*   font-size: 12px; */
  color: #aaa;
}

.amount h4, .payment h4{
  color: #6f8d90;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
}

/* Net price */
.details > p {
  color: #6f8d90;
  margin-top: 25px;
  font-size: 15px
}

/* Total price */
.totalprice p {
  padding-left: 10px
}

.totalprice .sub,
.totalprice .del {
  font-size: 13px;
  color: #aaa
}

.totalprice span {
  float: right;
  margin-right: 17px
}

.totalprice .tot {
  color: #6f8d90;
  font-size: 15px
}

/* Footer */
footer {
  font-size: 11px;
    text-align: center;
    margin-top: 60px;
    color: #aaa;
}

.font_resize{
  font-size: 16px;
}